@using PWABlog.ViewModels.Admin
@model PWABlog.ViewModels.Admin.AdminPostagensListarViewModel

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listagem de Postagens</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <a class="btn btn-primary mb-3" href="/admin/postagens/criar">Criar novo Post</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
                @foreach (PostagemAdminPostagens postagem in @Model.Postagens) {
                    <tr>
                        <td>@postagem.IdPostagem</td>
                        <td>@postagem.TituloPostagem</td>
                        <td>@postagem.NomeAutorPost</td>
                        <td>@postagem.NomeCategoriaPost</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/admin/postagens/editar/@postagem.IdPostagem"><span class="fa fa-edit"></span> Editar</a>
                            <a class="btn btn-danger btn-xs" href="/admin/postagens/remover/@postagem.IdPostagem"><span class="fa fa-trash"></span> Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>