@using PWABlog.ViewModels.Home
@model PWABlog.ViewModels.Home.HomeIndexViewModel
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
	    <div class="row d-flex">
	    	<div class="col-xl-8 py-5 px-md-5">
		        <div class="row pt-md-4">
			        @foreach (PostagemHomeIndex postagem in @Model.Postagens)
			        {
				        <div class="col-md-12">
					        <div class="blog-entry ftco-animate d-md-flex">
						        <div class="text text-2 pl-md-4">
							        <h3 class="mb-2"><a href="#">@postagem.Titulo</a></h3>
							        <div class="meta-wrap">
								        <p class="meta">
									        <span><i class="icon-calendar mr-2"></i>@postagem.Data</span>
									        <span><a href="#"><i class="icon-folder-o mr-2"></i>Travel</a></span>
									        <span><i class="icon-comment2 mr-2"></i>@postagem.NumeroComentarios</span>
								        </p>
							        </div>
							        <p class="mb-4">@postagem.Descricao</p>
							        <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
						        </div>
					        </div>
					    </div>
					}
		        </div><!-- END-->
		    </div>
	    	<div class="col-xl-4 sidebar ftco-animate bg-light pt-5" style="height: 100%;">
				<div class="sidebar-box ftco-animate">
	            	<h3 class="sidebar-heading">Categorias</h3>
					<ul class="categories">
					@foreach (CategoriaHomeIndex categoria in @Model.Categorias)
					{
						<li><a href="#">@categoria.Nome</a></li>
					}
					</ul>
				</div>

				<div class="sidebar-box ftco-animate">
					<h3 class="sidebar-heading">Postagens populares</h3>
					@foreach (PostagemPopularHomeIndex postagemPopular in @Model.PostagensPopulares)
					{
						<div class="block-21 mb-4 d-flex">
							<!--<a class="blog-img mr-4" style="background-image: url(../images/image_1.jpg);"></a>-->
							<div class="text">
								<h3 class="heading"><a href="#">@postagemPopular.Titulo</a></h3>
							</div>
						</div>
					}
				</div>

	            <div class="sidebar-box ftco-animate">
					<h3 class="sidebar-heading">Etiquetas</h3>
		            <ul class="tagcloud">
			            @foreach (EtiquetaHomeIndex etiqueta in @Model.Etiquetas)
			            {
				            <a href="#" class="tag-cloud-link">@etiqueta.Nome</a>
			            }
		            </ul>
	            </div>

		        <div class="sidebar-box ftco-animate">
					<h3 class="sidebar-heading">Julio Castro</h3>
			        <p>Aluno do 3º periodo de Análise e Desenvolvimento de Sistemas do Vianna Junior</p>
			        <p>Apaixonado por programação e tecnologia!!!</p>
				</div>
			</div><!-- END COL -->
	    </div>
    </div>
</section>